article.news{
  text-align: center;
  max-width: 400px;
  height: 400px;
  padding: 10px;
  h3{
    margin: 0;
  }

  p{
    text-align: justify;
  }

}
.image-holder{
  background: $midnight-blue;
  overflow: hidden;
  .title-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    text-align: center;
    width: 100%;

    h4{
      color: white;
      font-size: 90%;
    }
  }
}

.link-overlay{
  width: 100%;
  height: 100%;
  position: relative;

  a {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 50px);
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    backface-visibility: hidden;
  }
}

figure img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
  backface-visibility: hidden;
}

figure:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure:hover a {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.article-thumb{
  width: 100%;
}

.featured-thumb{
  padding: 20px;
}

.article-img{
  max-height: 600px;
}

.article-content{
  max-width: 800px;
  text-align: justify;
}
