// Global styles used all over the app
body{
  overflow-y: scroll;
}

h2{
  color: $vrh-blue;
}

.headline{
  border-left: 5px solid $vrh-blue;
  padding-left: 5px;
}

span{
  &:before{
    content: " ";
  }
}

hr{
  margin: 50px 0px;
}

.inline{
  display: inline-block;
}
