// Layout styles
#page-body {
  padding: 51px 0 0 0 ;
}


#header-navbar{
  .brand-logo{
    position: relative;
    top: -9px;
    width: 45px;
  }
}

#partner-footer{
  background: $concrete;
  margin: 10px 0 0 0;
  width: 100%;
  height: 100px;
  color: $midnight-blue;
  text-align: center;
  h3{
    margin: 0;
  }

}

nav.admin-features{
  margin-top: 20px;
  margin-right: 5.2%;
  list-style: none;
  float: right;
}


#footer{
  background: $midnight-blue;
  width: 100%;
  padding: 5px 0;
  p{
    text-align: center;
    color: $concrete;
  }
}
