// Place all the styles related to the public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sub-header{
  height: 600px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(image_path('photo_vrh1_filtre.png'));
  background-repeat: no-repeat;
  background-position: 30% 53%;
  background-size: 100%;

  #header-text{
    .brand{
      font-size: 50px;
      color: $vrh-blue;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    h2{
      color: white;
      margin: 0;
    }
  }


  .next-game{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
    float: right;
    padding: 10px;
    text-align: right;
    color: white;
    a{
      color: white;
      &:hover{
        text-decoration: none;
        .lineup{
          color: $brand-info;
        }
      }
    }
    .lineup{
      color: $brand-primary;
    }
    h3{
      margin: 0 0 5px 0;
    }

    p{
      font-size: 130%;
      margin-bottom: 2px;
    }
  }
}

#side-content{
  table{
    img{
      width: 30px;
    }
  }
}

#article-container{

  .col-md-6{
    height: 400px;
  }
}


.content{
  padding: 10px 20px;

}

.about-pictures{
  width: 400px;
}
