.team-header{
    height: 450px;
    width: 100%;
    overflow: hidden;

    .media{
      position: relative;
      top: 20px;
      left: 5%;
    }

    h2.media-heading{
      font-size: 50px;
      text-shadow: 1px 1px 1px $midnight-blue;
    }

    .team-logo{
      width: 150px;
    }
}

.player-portrait{
  padding: 10px;

  .player-thumb{
    transition: 0.35s;
    background: $concrete;
    opacity: 1;
  }

  .player-thumb:hover{
    transition: 0.35s;
    background: darken($concrete, 15%);
    opacity: 0.9;
  }

  .player-heading{
    background: $midnight-blue;
    width: 200px;
    padding: 10px;
    text-align: center;

    .pos{
      color: $vrh-blue;
      float: left;
      margin: 0;
    }
    h4{
      margin: 0;

      a{
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }
    }
  }

  span.jersey{
    position: absolute;
    top: 5px;
    left: 15px;
    color: $vrh-blue;
    font-size: 45px;
  }

  span.jersey:before {
    content: "#";
  }
}


#visitor-team-logo, #home-team-logo{
  width: 50px;
  img{
    width: 100%;
  }
}

p.score{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

ul.goals{
  padding-left: 15px;
}
