.team-logo{
  width: 300px;
}

#visitor-team-logo, #home-team-logo{
  width: 50px;
  img{
    width: 100%;
  }
}

p.score{
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

ul.goals{
  padding-left: 15px;
}
