// SCSS variables used in all the SCSS files
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: font-url('SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: font-url('SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: font-url('SourceSansPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: font-url('SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//colors
$vrh-blue: #3498db;
$vrh-grey: #BCBDC0;
$midnight-blue: #2c3e50;
$concrete: #bdc3c7;

$brand-primary: $vrh-blue;
$progress-bar-bg: $vrh-blue;
$progress-bar-success-bg: $vrh-blue;
$progress-bar-warning-bg: #ccc;
$btn-primary-bg: $vrh-blue;
// $navbar-default-bg: #bdc3c7;
$navbar-default-link-color: $vrh-blue;
$navbar-default-link-hover-bg: $vrh-blue;
$navbar-default-link-hover-color: white;
$link-color: $vrh-blue;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $vrh-grey;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $vrh-blue;

//fonts
$font-family-sans-serif: "SourceSansPro-Regular";
$font-family-serif: "SourceSansPro-Regular";

.container-fluid{
  width: 90%;
}
