// SCSS variables used in all the SCSS files
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: font-url('SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: font-url('SourceSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: font-url('SourceSansPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: font-url('SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//colors
$vrh-blue: #3498db;
$vrh-grey: #BCBDC0;
$midnight-blue: #2c3e50;
$concrete: #7f8c8d;

.container-fluid{
  width: 90%;
}
